integration/src/test/resources/LnAcctInfo_CType.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://jackhenry.com/jxchange/TPG/2008" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://jackhenry.com/jxchange/TPG/2008" version="R2014.0.05" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Main">
    <xsd:sequence>
      <xsd:element name="LnAcctInfo" type="LnAcctInfo_CType" />
    </xsd:sequence>
  </xsd:element>

  <xsd:complexType name="LnAcctInfo_CType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="WatchListCode" nillable="true" type="xs:string" />
      <xsd:element minOccurs="0" name="VehicleId" nillable="true" type="xs:string" />
      <xsd:element minOccurs="0" name="UserDefInfoArray" type="xs:string" />
      <xsd:element minOccurs="0" name="TitleNeeded" nillable="true" type="xs:string" />
      <xsd:element minOccurs="0" name="SubPrimeLnCode" nillable="true" type="xs:string" />
      <xsd:element minOccurs="0" name="StudentLnCode" nillable="true" type="xs:string" />
      <xsd:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xsd:element minOccurs="0" name="RstrAdvaOvrLmt" nillable="true" type="xs:string" />
      <xsd:element minOccurs="0" name="RstrAdva" nillable="true" type="xs:string" />
      <xsd:element minOccurs="0" name="RewriteToLnAcctId" nillable="true" type="xs:string" />
      <xsd:element minOccurs="0" name="RestructuredDr" nillable="true" type="xs:string" />
      <xsd:element minOccurs="0" name="RelAcctType" nillable="true" type="xs:string" />
      <xsd:element minOccurs="0" name="RelAcctId" nillable="true" type="xs:string" />
      <xsd:element minOccurs="0" name="PurpCode" nillable="true" type="xs:string" />
      <xsd:element minOccurs="0" name="PtPaid" nillable="true" type="xs:string" />
      <xsd:element minOccurs="0" name="PrtRcpt" nillable="true" type="xs:string">
        <xsd:annotation>
          <xsd:documentation>The true and false canonical values are only
                        supported</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="PrtPastDueNotCode" nillable="true" type="xs:string" />
      <xsd:element minOccurs="0" name="PrtCouponBook" nillable="true" type="xs:string" />
      <xsd:element minOccurs="0" name="PrtBilNotCode" nillable="true" type="xs:string" />
      <xsd:element minOccurs="0" name="PrevStat" nillable="true" type="xs:string" />
      <xsd:element minOccurs="0" name="PrePmtPenCode" nillable="true" type="xs:string" />
      <xsd:element minOccurs="0" name="PayoffPend" nillable="true" type="xs:string" />
      <xsd:element minOccurs="0" name="PartIdNum" nillable="true" type="xs:string" />
      <xsd:element minOccurs="0" name="OrigPartPct" nillable="true" type="xs:string" />
      <xsd:element minOccurs="0" name="OrigLnToValRatio" nillable="true" type="xs:string" />
      <xsd:element minOccurs="0" name="LateChgCode" nillable="true" type="xs:string" />
      <xsd:element minOccurs="0" name="IncCombStmt" nillable="true" type="xs:string" />
      <xsd:element minOccurs="0" name="HldMailCode" nillable="true" type="xs:string" />
      <xsd:element minOccurs="0" name="HighRiskCust" nillable="true" type="xs:string" />
      <xsd:element minOccurs="0" name="ForcedPlaceInsur" nillable="true" type="xs:string" />
      <xsd:element minOccurs="0" name="ExmnrClsfCode" nillable="true" type="xs:string" />
      <xsd:element minOccurs="0" name="ExclAutoNonAccr" nillable="true" type="xs:string" />
      <xsd:element minOccurs="0" name="DeptCode" nillable="true" type="xs:string" />
      <xsd:element minOccurs="0" name="CurLnToValRatio" nillable="true" type="xs:string" />
      <xsd:element minOccurs="0" name="CrRatingCode" nillable="true" type="xs:string" />
      <xsd:element minOccurs="0" name="CouponBookTerm" nillable="true" type="xs:string" />
      <xsd:element minOccurs="0" name="CollatCode" nillable="true" type="xs:string" />
      <xsd:element minOccurs="0" name="ClsOnZeroBal" nillable="true" type="xs:string" />
      <xsd:element minOccurs="0" name="CalcPartPct" nillable="true" type="xs:string" />
      <xsd:element minOccurs="0" name="BadChkRecv" nillable="true" type="xs:string" />
      <xsd:element minOccurs="0" name="AnnIncmAmt" nillable="true" type="xs:string" />
      <xsd:element minOccurs="0" name="AcctClsfCode" nillable="true" type="xs:string" />
      <xsd:element minOccurs="0" name="HldAcctType" nillable="true" type="xs:string" />
      <xsd:element minOccurs="0" name="HldAcctId" nillable="true" type="xs:string" />
      <xsd:element minOccurs="0" name="SvcPrvdInfo" nillable="true" type="xs:string" />
      <xsd:sequence minOccurs="0">
        <xsd:element name="Ver_1" type="xs:string" />
        <xsd:element minOccurs="0" name="BorwInfoArray" type="xs:string" />
        <xsd:element minOccurs="0" name="LnClsInfoArray" type="xs:string" />
        <xsd:element minOccurs="0" name="LOCAcctId" nillable="true" type="xs:string" />
        <xsd:element minOccurs="0" name="LOCCustId" nillable="true" type="xs:string" />
        <xsd:element minOccurs="0" name="CombLTV" nillable="true" type="xs:string" />
        <xsd:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
        <xsd:element minOccurs="0" name="CrScoreId" nillable="true" type="xs:string" />
        <xsd:element minOccurs="0" name="CrScoreCode" nillable="true" type="xs:string" />
        <xsd:element minOccurs="0" name="TotDownPmtAmt" nillable="true" type="xs:string" />
        <xsd:element minOccurs="0" name="ExcLndPlcyCode" nillable="true" type="xs:string" />
        <xsd:element minOccurs="0" name="LnPmtToIncmPct" nillable="true" type="xs:string" />
        <xsd:element minOccurs="0" name="InvrInsurCode" nillable="true" type="xs:string" />
        <xsd:element minOccurs="0" name="InvrPurpCode" nillable="true" type="xs:string" />
        <xsd:element minOccurs="0" name="ATMCard" nillable="true" type="xs:string" />
        <xsd:element minOccurs="0" name="MoDebtAmt" nillable="true" type="xs:string" />
        <xsd:element minOccurs="0" name="MinBilAmt" nillable="true" type="xs:string" />
        <xsd:element minOccurs="0" name="MoIncmAmt" nillable="true" type="xs:string" />
        <xsd:element minOccurs="0" name="NumBorw" nillable="true" type="xs:string" />
        <xsd:element minOccurs="0" name="PrtcpCode" nillable="true" type="xs:string" />
        <xsd:element minOccurs="0" name="PrtcpAcctId" nillable="true" type="xs:string" />
        <xsd:element minOccurs="0" name="PrtcpAcctType" nillable="true" type="xs:string" />
        <xsd:element minOccurs="0" name="TotDebtPct" nillable="true" type="xs:string" />
        <xsd:element minOccurs="0" name="TotOtherDebtAmt" nillable="true" type="xs:string" />
        <xsd:sequence minOccurs="0">
          <xsd:element name="Ver_2" type="xs:string" />
          <xsd:element minOccurs="0" name="EndorNum" nillable="true" type="xs:string" />
          <xsd:element minOccurs="0" name="CrBureauRptCode" nillable="true" type="xs:string" />
          <xsd:element minOccurs="0" name="FirstStmtFeeCode" nillable="true" type="xs:string" />
          <xsd:element minOccurs="0" name="FirstStmtDt" nillable="true" type="xs:string" />
          <xsd:element minOccurs="0" name="PrePmtPenInfoRec" type="xs:string" />
          <xsd:element minOccurs="0" name="LnGuarArray" type="xs:string" />
          <xsd:sequence minOccurs="0">
            <xsd:element name="Ver_3" type="xs:string" />
            <xsd:element minOccurs="0" name="AllowTrnActArray" type="xs:string" />
            <xsd:element minOccurs="0" name="LangType" nillable="true" type="xs:string" />
            <xsd:sequence minOccurs="0">
              <xsd:element name="Ver_4" type="xs:string" />
              <xsd:element minOccurs="0" name="BorwDebtIncmPct" type="xs:string" />
              <xsd:element minOccurs="0" name="CoBorwDebtIncmPct" type="xs:string" />
              <xsd:element minOccurs="0" name="BorwLiqAssetAmt" type="xs:string" />
              <xsd:element minOccurs="0" name="NetWorth" type="xs:string">
                <xsd:annotation>
                  <xsd:documentation>
                    <Deprecate>
                      <Dt>2018-01-01</Dt>
                      <Cmnt>The element NetWorthAmt should be used due to size limitations of the NetWorth element</Cmnt>
                    </Deprecate>
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element minOccurs="0" name="StressRateCode" type="xs:string" />
              <xsd:element minOccurs="0" name="StressRateDt" type="xs:string" />
              <xsd:sequence minOccurs="0">
                <xsd:element name="Ver_5" type="xs:string" />
                <xsd:element minOccurs="0" name="SecdCrScoreId" type="xs:string" />
                <xsd:sequence minOccurs="0">
                  <xsd:element name="Ver_6" type="xs:string" />
                  <xsd:element minOccurs="0" name="CurApprLTVRatio" type="xs:string" />
                  <xsd:sequence minOccurs="0">
                    <xsd:element name="Ver_7" type="xs:string" />
                    <xsd:element minOccurs="0" name="PrePmtPenBillDt" type="xs:string" />
                    <xsd:element minOccurs="0" name="PrePmtPenDueDt" type="xs:string" />
                    <xsd:element minOccurs="0" name="InvrPropType" type="xs:string" />
                    <xsd:sequence minOccurs="0">
                      <xsd:element name="Ver_8" type="xs:string" />
                      <xsd:element minOccurs="0" name="NetWorthAmt" type="xs:string" />
                      <xsd:sequence minOccurs="0">
                        <xsd:element name="Ver_9" type="xs:string" />
                        <xsd:any minOccurs="0" maxOccurs="unbounded" namespace="##targetNamespace" processContents="lax" />
                      </xsd:sequence>
                    </xsd:sequence>
                  </xsd:sequence>
                </xsd:sequence>
              </xsd:sequence>
            </xsd:sequence>
          </xsd:sequence>
        </xsd:sequence>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
